<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Software development should not be a secret process in which a Software Engineer receives the specifications for the tool he/she is to build and retires to a secret corner of the office, and a few weeks later shows the stakeholders the complated product.</p>
  <p class="lead">When I take on a new project, I make it my goal to not only deliver a well-crafted product but to ensure that each stage of the process is fully communicated and every stakeholder is on board with my solution.</p>
  <p class="lead">
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
